
main {
  display: flex;
}

/* SIDEBAR */
.cat-list {
  list-style: none;
  width: 12%;
}

.cat-list li {
  cursor: pointer;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
}

.cat-list li:hover {
  background-color: #F64C72;
}


/* CONTENT */
.cat-item {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

.cat-item .cat-name, .cat-item .clicks-count {
  font-weight: bold;
  font-size: 2rem;
}

.cat-img {
  max-width: 50%;
  padding-bottom: 5px;
  border-radius: 4%;
}



